[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
config = "*"
pywin32 = "*"
opencv-python = "*"
pyinstaller = "*"
pymysql = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
